<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <ul class="icons">
            <li><a href="https://x.com/gina_pudo?t=kdl5DMY3TtkzX0NRIDVTHg&s=09" target="_blank" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
            <!-- <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li> -->
            <li><a href="https://www.instagram.com/gina_pudo?igsh=dDBlaTBmdThpbnE3" target="_blank" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
            <!-- <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li> -->
        </ul>
        <ul class="copyright">
            <li>Copyright &copy; 2024 Organized Chaos</li>
            
        </ul>
    </div>
</footer>

</div>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.bundle.js"></script>
<script src="/assets/bootstrap/js/bootstrap.bundle.js.map"></script>

<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/app.js"></script>

</body>
</html>