
<%- include('./partials/header.ejs')  %>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

	<%-include('./partials/nav.ejs') %>


				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>About Me</h1>
									</header>
									<span class="image main"><img src="images/about-fullscreen-1-1920x700.jpg" alt="" /></span>
									<p>i write when I'm overwhelmed and/or anxious 
										i write so that i can forget
										but the irony is that i remember everything i write. 
										Reading other people's writings gives me a sense of belonging— a safe space 
										that maybe I'm not the only one feeling things they can't explain 
										Somewhere in between these lines is a version of me that felt it, lived it and survived it
										This, this is my whole heart  
										a sustenance; a need; a survival guide
										i don't know yet all of who i was
										i don't know yet all of who i am
										i don't know yet all of who i want to be
										but I'm going to write as i find other interesting things to do before I die
										so here are my half written stories; finished without an ending🦋</p>
								</div>
							</section>

					</div>

					<%- include('./partials/footer.ejs')  %>
					