<%- include('./partials/header.ejs')  %>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

	<%-include('./partials/nav.ejs') %>
				<!-- Main -->
					<div id="main" class="alt" style="min-height: 70vh;" >

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>Blog</h1>
									</header>
								</div>
							</section>

							<!-- Blog posts -->
							<section class="tiles" id="display">
								
							</section>

					</div>

					<%- include('./partials/footer.ejs')  %>
				