<%- include('./partials/header.ejs')  %>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

	<%-include('./partials/nav.ejs') %>

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>You are reading my inside conversations</h1>
							</header>
							<div class="content">
								<p>this shit is supposed to be confidential</p>
								<ul class="actions">
									<li><a href="/blogs" class="button next scrolly">Blogs</a></li>
								</ul>
							</div>
						</div>
						<div class="scrollerr">
							<div class="icon alt fa-arrow-down" style="color: white;"></div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">
							<!-- About us -->
							<section class="pink">
								<div class="inner">
									<header class="major">
										<h2>About Me</h2>
									</header>
									<p>i write when I'm overwhelmed and/or anxious i write so that i can forget but the irony is that i remember everything i write. Reading other people's writings gives me a sense of belonging— a safe space that maybe I'm</p>
									<ul class="actions">
										<li><a href="/about" class="button next">Read more</a></li>
									</ul>
								</div>
							</section>

							<!-- Blog Posts -->
							<section class="tiles" id="display">
	
								
							</section>

							<!-- Testimonials -->
							<!-- <section class="pink">
								<div class="inner">
									<header class="major">
										<h2>Testimonials</h2>
									</header>
									<div class="row">
										<div class="col-6">
											<p><em>"Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt."</em></p>
											<p><strong>- John Doe</strong></p>
											
										</div>

										<div class="col-6">
											<p><em>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores temporibus dolorum minus repudiandae, eaque error corporis aliquam, architecto amet itaque nobis. Omnis itaque est dolore, a nostrum numquam. Quae, facilis."</em></p>
											<p><strong>- Jack Smith</strong></p>
										</div>
									</div>
									<ul class="actions">
										<li><a href="testimonials.html" class="button next">Read more</a></li>
									</ul>
								</div>
							</section> -->
					</div>

				<%-include('./partials/footer.ejs') %>